.checkbox-component {
  display: flex;
  align-items: center;

  [type="checkbox"] {
    background: $lightBlue;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    margin: 0px 8px 0px 0px;
  }
}
