.header {
  background: #ffffff;
  padding: 48px 108px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    align-items: center;

    max-width: 595px;
    width: 595px;

    .checkbox-component {
      &:nth-child(2) {
        margin-left: 24px;
      }

      &:nth-child(3) {
        margin-left: 32px;
      }
    }
  }

  .button {
    width: 88px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
