.pagination {
  display: flex;
  justify-content: center;

  list-style-type: none;
  padding: 56px 0px;
  margin: 0;

  .elipsis {
    font-weight: 600;
    margin: 0 8px;
    color: $black;
  }

  .pagination-item-first {
    margin: 0px 24px 0px 0px;
  }
  .pagination-item-last {
    margin: 0px 0px 0px 24px;
  }

  .pagination-item,
  .pagination-item-first,
  .pagination-item-last {
    font-weight: 600;
    cursor: pointer;
    margin: 0 8px;
    color: $black;

    &:hover,
    &.selected {
      color: $lightBlue;
    }

    &.disabled {
      color: $gray-4;
      pointer-events: none;
    }
  }
}
