.productCard {
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px 24px 16px;
    height: 100%;

    .actions {
      margin-top: auto;

      .button {
        margin-top: 16px;
      }
    }
  }

  &Title {
    font-size: 18px;

    margin-bottom: 8px;
    color: $black;
  }

  &Description {
    font-weight: 600;
    color: $gray-4;
  }
}
