$lightBlue: #4460f7;
$blue: #2140e8;
$orange: #f9a52b;
$black: #1a1b1d;
$white: #fff;
$gray-1: #f0f1f5;
$gray-2: #e0e2ea;
$gray-3: #b9bdcf;
$gray-4: #9194a5;

$page-background: #f8f8fa;

$global-font-size: 14px;
